.weightChartContainer {
    width: 873px;
    height: 320px;

    background: #FBFBFB;
    border-radius: 5px;

    padding: 20px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) and (max-height: 780px) {
    .weightChartContainer {
        width: 625px;
        height: 250px;
        margin-bottom: 20px;
        font-size: 12px;
    }
}