body {
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.dashboardContent {
    margin: 130px 100px;
}

@media only screen and (max-width: 1024px) and (max-height: 780px) {
    body {
        font-size: 16px;
        line-height: 20px;
    }
    
    .dashboardContent {
        margin: 100px 50px;
    }
}