.objectivesChartContainer {
    width: 238px;
    height: 243px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background: #FF0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;

    padding: 20px;
}

.recharts-tooltip-cursor {
    display: none !important;
}

.daysContainer {
    width: 100%;

    font-size: 12px;

    color: #FFFFFF;
    opacity: 0.5;
}
  
.timeStyle {
    position: relative;
    z-index: 2;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 8px;
    text-align: center; 
    padding: 3px 10px;
    margin: -5px;
}
  
.tooltipStyle {
    position: absolute;
    width: 300px;
    height: 1043px;
    background-color: black;
    opacity: 0.1;
    pointer-events: none;
    margin: -500px -10px;
}
  
  
  
