.objectivesChartContainer {
    width: 238px;
    height: 243px;
    
    flex-direction: column-reverse;
    overflow: hidden;

    background: #FF0000;
    border-radius: 5px;

    padding: 20px;
}

.recharts-tooltip-cursor {
    display: none !important;
}

.daysContainer {
    width: 100%;

    font-size: 12px;

    color: #FFFFFF;
    opacity: 0.5;
}
  
.timeStyle {
    position: relative;
    z-index: 2;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 8px;
    text-align: center; 
    padding: 3px 10px;
    margin: -5px;
}
  
.tooltipStyle {
    position: absolute;
    width: 300px;
    height: 1043px;
    background-color: black;
    opacity: 0.1;
    pointer-events: none;
    margin: -500px -10px;
}
  
@media only screen and (max-width: 1024px) and (max-height: 780px) {
    .objectivesChartContainer {
        width: 185px;
        height: 178px;
        padding: 10px;
    }

    .daysContainer,
    .tspanFontSize {
        font-size: 10px;
    }
}
  
  
