.objectivesChartContainer {
    width: 258px;
    height: 263px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FF0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;

    padding: 20px;
}

.recharts-tooltip-cursor {
    display: none !important;
}
