.cardsContainer {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #FBFBFB;

    padding: 30px;
    gap: 30px;

    justify-content: flex-start;
}

.avgNumber {
    font-size: 20px;
    font-weight: 700;
    color: #282D30;
    margin: 0;
}

.avgName {
    font-size: 14px;
    font-weight: 500;
    color: #74798C;
    margin: 0;
}

.iconCard {
    width: 19px;
    height: 19px;
    padding: 20px;
    border-radius: 6px;
}

@media only screen and (max-width: 1024px) and (max-height: 780px) {
    .card {
        padding: 20px;
        gap: 20px;
    }
    
    .avgNumber {
        font-size: 15px;
    }
    
    .avgName {
        font-size: 12px;
    }
    
    .iconCard {
        width: 16px;
        height: 16px;
        padding: 15px;
        border-radius: 4px;
    }
}