.gap {
    gap: 30px;
}

.flex {
    display: flex;
}

.columnAlignment {
    flex-direction: column;
}

.alignItemsCenter {
    align-items: center;
}

.justifyContentCenter {
    justify-content: center;
}

.chartsBoxShadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

@media only screen and (max-width: 1024px) and (max-height: 780px) {
    .gap {
        gap: 20px;
    }
}