.radarChartContainer {
    width: auto;
    height: 243px;
    border-radius: 5px;

    background-color: #282D30;
    padding: 20px 20px;
}

.recharts-surface {
    overflow: visible;
}

@media only screen and (max-width: 1024px) and (max-height: 780px) {
    .radarChartContainer {
        width: 195px;
        height: 178px;
        padding: 10px;
    }

    .radarChart {
        transform: translate(-13%, -0%);
    }
}
  